body {
    font-family: 'Lato', serif;
  }
  
  
  .footer {
      font-size: 17px;
      color: #FFFFFF;
      background-color: #00ABE4;
  }
  
  .link-block a {
      margin-top: 5px;
      margin-bottom: 5px;
  }
  
  .dnerf {
    font-variant: small-caps;
  }

  .pass1 {
    font-variant: small-caps;
  }

  .hero {
    color: #FFFFFF;
    background-color: #00ABE4;
    margin-bottom: 40px;
  }
  
  .title.is-1 {
    color: #FFFFFF;
  }

  a {
    color: #FFFFFF;
  }
  
  .teaser .hero-body {
    padding-top: 0;
    padding-bottom: 3rem;
  }
  
  .teaser {
    font-family: 'Google Sans', sans-serif;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
  }

  h1 {
    font-weight: bold;
  }